@import "tailwindcss";
@config "../tailwind.config.js";

@layer base {
  :root {
    --background: 210 40% 98%;
    --foreground: 222 47% 11%;

    --card: 0 0% 100%;
    --card-foreground: 222 47% 11%;

    --popover: 0 0% 100%;
    --popover-foreground: 222 47% 11%;

    --primary: 221 83% 53%;
    /* #2563EB */
    --primary-foreground: 210 40% 98%;
    --primary-light: 217 91% 60%;
    /* #3B82F6 */
    --primary-dark: 218 64% 33%;
    /* #1E3A8A */

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222 47% 11%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215 16% 47%;

    --accent: 199 92% 60%;
    /* #38BDF8 */
    --accent-foreground: 222 47% 11%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --success: 142 76% 36%;
    --success-foreground: 356 29% 98%;

    --error: 0 72% 51%;
    --error-foreground: 0 86% 97%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221 83% 53%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222 47% 11%;
    /* #0F172A */
    --foreground: 210 40% 98%;

    --card: 222 33% 18%;
    /* #1E293B */
    --card-foreground: 210 40% 98%;

    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;

    --primary: 217 91% 60%;
    --primary-foreground: 222 47% 11%;
    --primary-light: 221 83% 53%;
    --primary-dark: 218 64% 33%;

    --secondary: 217 19% 27%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217 19% 27%;
    --muted-foreground: 215 20% 65%;

    --accent: 199 92% 60%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --success: 142 70% 29%;
    --success-foreground: 356 29% 98%;

    --error: 0 74% 42%;
    --error-foreground: 0 86% 97%;

    --border: 217 19% 27%;
    --input: 217 19% 27%;
    --ring: 224 76% 48%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

html {
  scroll-behavior: smooth;
}